<!DOCTYPE html>
<html>
 <head>
	 <title>Fun With Anagrams</title>
	 <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.min.js"></script>
	 <script src="https://unpkg.com/prop-types/prop-types.min.js"></script>
	 <link rel="stylesheet" href="../static/assets/css/main.css" />
	 <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
 </head>
 <body>

		 <body id="body">
			 <div id="content">

			 <!-- Wrapper -->
				 <div id="wrapper">
					 <div id="header-wrap">
						 <div id="header-wrap">
							 <!-- Header -->
							 <header id="header" class="alt">
								 <h1>Fun With Anagrams</h1>
							 </header>
						 </div>
						 <!-- Header -->
							 <header id="header">
								 <div>
									 <nav id="nav">
										 <div id="app">
											 <!--My app renders here-->
										 </div>
									 </nav>
								 </div>
							 </header>
						 </div>

					 <!-- Main -->
						 <div id="main">
						 </div>

					 <!-- Footer -->
						 <footer id="footer">
							 <p class="copyright">&copy; Josh Schenkein 2018</p>
						 </footer>

				 </div>

			 <!-- Background -->
				 <div id="bg"></div>

		 <!-- Local Stylings -->
		 <script src="../static/assets/js/jquery.min.js"></script>
		 <script src="../static/assets/js/skel.min.js"></script>
		 <script src="../static/assets/js/util.js"></script>
		 <script src="../static/assets/js/main.js"></script>
     <!-- React App -->
     <script src="../static/assets/js/babel-standalone.js"></script>
     <script src="../static/assets/js/react.js"></script>
     <script src="../static/assets/js/react-dom.js"></script>
		 <script
			 type="text/babel"
			 data-plugins="transform-class-properties"
			 src="../static/assets/js/MainScript.js"
		 ></script>
 </body>
</html>
